@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

.main-container {
    height: 100vh;
    width: 100vw;
    background-color: #d5e1ef;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Outfit";
    .card {
        width: 280px;
        height: 430px;
        padding: 15px;
        background-color: #fff;
        border-radius: 20px;
        img {
            width: 280px;
            border-radius: inherit;
        }
        .text {
            text-align: center;
            padding: 0 10px;
            h1 {
                color: #243045;
                font-size: 20px;
                font-weight: 700;
            }
            p {
                font-size: 15px;
                font-weight: 400;
                color: #a5abb1;
            }
        }
    }
}
